<ul>
<% if @order.errors %>
        <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
<% end %>
</ul>


<%= form_for @order do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>
     <br/>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
     <br/>
    <%= f.label :customer_id %>
    <%= f.collection_select :customer_id, Customer.all, :id, :name, include_blank: true %>
    <br/>
    <%= f.label :product_id %>
    <%= f.collection_select  :product_id, Product.all, :id, :name, include_blank: true %>
     <br/>
    <%= f.submit %>
    
<% end %>