<h1>Product Details:</h1>

<p>Product name: <%= @product.name %></p>
<p>Product price: $<%= @product.price %></p>

<%= link_to "Edit Product", edit_product_path(@product) %> <br>
<%= button_to "Delete Product", product_path(@product), :method => :delete %> <br>
<%= link_to "Back to Products List", products_path %> <br>

